@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  //   color: white;
  background-color: #f5f6fa;
}
.container {
  min-width: 290px;
  max-width: 1170px;
  margin: 1rem;
  margin-top: 5rem;
  padding: 3rem;
  text-align: center;
  //   border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #df1212;
}

h3 {
  margin: 10px 0;
}
#date {
  color: teal;
  margin: 2rem;
}
form {
  input,
  button {
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
  }
  button {
    width: 70px;
  }
}
#name-country {
  color: rgb(232, 20, 197);
  margin-top: 1.2rem;
}
.content {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  .box {
    min-width: 270px;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    letter-spacing: 2px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translate(-0.8px, -1.2px);
      box-shadow: 0 0.5px 8px -4px rgba(0, 0, 0, 0.8);
    }
    p {
      text-transform: uppercase;
      opacity: 0.7;
    }
  }
}
.confirmed {
  h3,
  i {
    color: #cc1034;
  }
}
.recovered {
  h3,
  i {
    color: green;
  }
}
::-webkit-scrollbar {
  display: none;
}
